*
!.gitignore
!.gitattributes
!.dockerignore
!/config.yaml.example
!/agent.js
!/agent-arm64.js
!/go.mod
!/go.sum
!/main.go
!*_test.go
!/README.md
!/AGENTS.md
!/script/
!/script/**
!/utils/
!/utils/**
!/cmd/
!/cmd/**
*.DS_Store
